@import 'reset';
@import 'vars';

/*========= LAYOUT.PHP ============*/

html {
  background-color: var(--bg-color);
}

body {
  font-family: Roboto;
  font-size: 1.6rem;
}

.containers {
  width: 80vw;
  margin: auto;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem;

  &__list__link {
    text-decoration: none;
    color: var(--red);
    text-transform: uppercase;
  }
}

h1 {
  font-size: 3rem;
}

.test {
  background-color: green;
  width: 200px;
  height: 200px;
}

/*========= INDEX.PHP ============*/

.theater__picture {
  width: 100%;
  height: auto;
  background-size: contain;
}

.theater__leftcurtain {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: #fd3747;
  clip-path: ellipse(50% 120% at 0% 0%);
  animation: theater1 3s forwards;
  background-image: url(../assets/img/texture.png);
}

.theater__rightcurtain {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vw;
  background-color: #fd3747;
  clip-path: ellipse(50% 120% at 100% 00%);
  animation: theater2 3s forwards;
  background-image: url(../assets/img/texture.png);
}

@keyframes theater1 {

  0% { clip-path: ellipse(50% 120% at 0% 0%); }

  100% { clip-path: ellipse(0% 120% at 0% 0%); }
}

@keyframes theater2 {

  0% { clip-path: ellipse(50% 120% at 100% 00%); }

  100% { clip-path: ellipse(0% 120% at 100% 0%); }
}

.spekken {
  position: relative;
  background-color: var(--red);

  &__info {
    padding: 5rem 0;
  }

  &__topPattern {
    position: absolute;
    top: -1rem;
    width: 100vw;
    height: 1rem;
    background-image: url(../assets/svg/trianglePattern.svg);
  }

  &__bottomPattern {
    position: absolute;
    bottom: -1rem;
    width: 100vw;
    height: 1rem;
    background-image: url(../assets/svg/trianglePattern.svg);
    transform: rotate(180deg);
  }

  &__info__title {
    text-transform: uppercase;
    color: #f6f6f3;
    font-size: 5rem;
    font-family: jaapokki;
  }

  &__info__info {
    color: #f6f6f3;
    font-size: 2rem;
    text-shadow: -75px 5px 9px rgba(0, 0, 0, .17);
    line-height: 4rem;

    &__highlight {
      font-size: 3rem;
    }
  }
}

/*========= PROGRAMM.PHP ============*/

.programm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.programm__event {
  overflow: hidden;
  width: 30rem;
}

.event__picture {
  background-repeat: no-repeat;
  height: 30rem;
  width: auto;
}

.list__img {
  width: 100%;
}
