@import 'reset';
@import 'vars';

/*========= LAYOUT.PHP ============*/

html {
  background-color: var(--bg-color);
}

body {
  font-family: Roboto;
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

.test {
  background-color: green;
  width: 200px;
  height: 200px;
}

/*========= INDEX.PHP ============*/

.none {
  display: none;
}

.mobileWrapper {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: var(--bg-color);
}

.menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  /*&:first-child {
    margin-top: 5rem;
  }*/

  &__item {
    margin: 3rem 0;

    &__link {
      text-transform: uppercase;
      text-decoration: none;
      color: var(--red);
      font-family: jaapokki;
      font-size: 3rem;
      letter-spacing: .3rem;

      &:hover {
        color: var(--blue);
      }
    }
  }
}

.nav {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  &__list__link {
    font-family: jaapokki;
    font-size: 2rem;
    text-decoration: none;
    color: var(--red);
    text-transform: uppercase;
    margin: 0 2rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    &:hover {
      color: var(--blue);
    }
  }

  &__list__link--active {
    display: inline-block;
    background-image: url(../assets/svg/triangleNav.svg);
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 1.2rem 2.2rem;
  }
}

.hamburger {
  display: none;
  background-image: url(../assets/svg/hamburger.svg);
  background-size: cover;
  width: 4rem;
  height: 4rem;
}

.theater {
  overflow: hidden;
  height: 75rem;

  &__picture {
    margin-top: -9rem;
    width: 100%;
    min-height: 85rem;
    object-fit: cover;
  }
}

.theater__tag {
  position: relative;
  top: -1rem;
  left: 10rem;

  &__triangle {
    position: absolute;
    top: 17rem;
    left: 68.5rem;
    width: 11rem;
    height: 30rem;
    background-image: url(../assets/svg/triangleHeader.svg);
    background-repeat: no-repeat;
  }

  &__triangle2 {
    position: absolute;
    top: 12rem;
    left: 14rem;
    width: 30rem;
    height: 30rem;
    background-image: url(../assets/svg/triangleHeader2.svg);
    background-repeat: no-repeat;
  }

  &__tagline {
    position: absolute;
    top: 20.5rem;
    left: 21.2rem;
    font-family: jaapokki;
    color: var(--red);
    font-size: 2.5rem;
  }

  &__title {
    text-transform: uppercase;
    position: absolute;
    top: 20rem;
    left: 15rem;
    font-family: jaapokki;
    color: var(--blue);
    font-size: 4.5rem;

    &__highlight {
      font-size: 9rem;
    }
  }
}

/*.theater__leftcurtain {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: #fd3747;
  clip-path: ellipse(50% 120% at 0% 0%);
  animation: theater1 3s forwards;
  background-image: url(../assets/img/texture.png);
}

.theater__rightcurtain {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vw;
  background-color: #fd3747;
  clip-path: ellipse(50% 120% at 100% 00%);
  animation: theater2 3s forwards;
  background-image: url(../assets/img/texture.png);
}*/

/*@keyframes theater1 {

  0% { clip-path: ellipse(50% 120% at 0% 0%); }

  100% { clip-path: ellipse(0% 120% at 0% 0%); }
}

@keyframes theater2 {

  0% { clip-path: ellipse(50% 120% at 100% 00%); }

  100% { clip-path: ellipse(0% 120% at 100% 0%); }
}*/

.spekken {
  position: relative;
  background-color: var(--red);

  &__topPattern {
    position: absolute;
    top: -1rem;
    width: 100vw;
    height: 1rem;
    background-image: url(../assets/svg/trianglePattern.svg);
  }

  &__bottomPattern {
    position: absolute;
    bottom: -1rem;
    width: 100vw;
    height: 1rem;
    background-image: url(../assets/svg/trianglePattern.svg);
    transform: rotate(180deg);
  }
}

.spekken__info {
  width: 960px;
  margin: auto;
  padding: 8rem 0 8rem 10rem;

  &__title {
    text-transform: uppercase;
    color: #f6f6f3;
    font-size: 4rem;
    font-family: jaapokki;
  }

  &__about {
    padding-top: 2rem;
    width: 50rem;
    color: #f6f6f3;
    font-family: oxygen;
    font-size: 1.8rem;
    text-shadow: -75px 5px 9px rgba(0, 0, 0, .17);
    line-height: 4rem;

    &__highlight {
      font-size: 2rem;
      font-weight: 700;
      color: var(--yellow);
    }
  }
}

.testt {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

.explore {
  position: relative;
  width: 960px;
  margin: auto;
  margin-top: 10rem;

  &__triangles {
    position: absolute;
    right: 0;
    top: 5rem;
    background-image: url(../assets/svg/doubleTriangle.svg);
    background-repeat: no-repeat;
    width: 20rem;
    height: 20rem;
  }

  &__title {
    font-family: jaapokki;
    font-size: 4rem;
    margin-bottom: 4rem;

    &__highlight {
      color: var(--blue);
    }
  }

  &__events {
    margin-top: -7rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__more {
    position: relative;
    display: block;
    margin: 1.5rem 0 0 53rem;
    text-decoration: none;
    font-family: jaapokki;
    font-size: 4rem;
    color: black;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      left: 17rem;
      top: -.4rem;
      display: inline-block;
      background: url(../assets/svg/buttonBlue.svg);
      width: 4rem;
      height: 4rem;
    }

    &__highlight {
      font-size: 6rem;
      color: var(--blue);
    }
  }
}

.explore__button--active {
  position: relative;
  display: inline-block;
  text-decoration: none;
  background-color: var(--red);
  color: white;
  border-radius: .5rem;
  padding: 1rem 1rem 1rem 4rem;
  font-family: oxygen;
  font-size: 1.8rem;
  border: .3rem solid var(--red);
  margin-bottom: 5rem;

  &::before {
    content: '';
    width: 3rem;
    height: 4rem;
    background: url(../assets/svg/christmasTree.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.explore__button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--red);
  padding: 1rem 1rem 1rem 4rem;
  font-family: oxygen;
  font-size: 1.8rem;
  border: .3rem solid var(--red);
  border-radius: .5rem;

  &::before {
    padding-top: .5rem;
    content: '';
    width: 3rem;
    height: 5.5rem;
    background: url(../assets/svg/easterBunny.svg);
    background-size: 110%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.event {
  width: 46rem;
  height: 23rem;
  display: flex;
  border-radius: 1rem;
  border: .4rem solid var(--red);
  padding: 1rem;
  margin-top: 3rem;

  &__picture {
    border-radius: .7rem;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
}

.event:first-child {
  margin-top: 6rem;
}

.event:last-child {
  margin-top: -.5rem;
}

.event__info {
  padding-left: 2rem;

  &__title {
    text-transform: capitalize;
    font-family: jaapokki;
    margin-top: 2rem;
    font-size: 2.2rem;
    letter-spacing: .1rem;
  }

  &__start {
    margin-top: 2rem;
    font-family: oxygen;
    font-size: 1.8rem;
  }

  &__age {
    margin: 2rem 0;
    font-family: oxygen;
    font-size: 1.8rem;
  }

  &__more {
    white-space: pre;
    overflow: visible;
    width: 15rem;
    margin-top: 2rem;
    text-decoration: none;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-family: oxygen;
    font-size: 1.7rem;
    background-image: url(../assets/svg/button.svg);
    background-repeat: no-repeat;
    background-position: right;
    color: black;
  }
}

.creative {
  width: 960px;
  margin: auto;
  margin-top: 15rem;
  display: flex;

  &__picture {
    /*ok*/
  }

  &__info {
    margin-top: 18rem;

    &__title {
      font-family: jaapokki;
      font-size: 3.5rem;
      text-transform: uppercase;
      color: var(--blue);
    }

    &__text {
      font-family: oxygen;
      font-size: 1.8rem;
      line-height: 3rem;

      &__highlight {
        color: var(--blue);
      }
    }
  }
}

.newscontainer {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}

.tricks {
  padding: 0 2rem 4rem 4rem;
  width: 50vw;

  &__title {
    font-family: jaapokki;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--blue);
  }

  &__text {
    font-family: oxygen;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  &__button {
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    color: var(--red);
    font-family: oxygen;
    font-size: 2.2rem;

    &::after {
      content: '';
      position: absolute;
      left: 10rem;
      top: -1rem;
      background: url(../assets/svg/button.svg);
      width: 4rem;
      height: 4rem;
    }
  }
}

.blogs {
  padding: 0 2rem 4rem 4rem;

  &__title {
    font-family: jaapokki;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--blue);
  }

  &__text {
    font-family: oxygen;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  &__button {
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    color: var(--red);
    font-family: oxygen;
    font-size: 2.2rem;

    &::after {
      content: '';
      position: absolute;
      left: 10rem;
      top: -1rem;
      background: url(../assets/svg/button.svg);
      width: 4rem;
      height: 4rem;
    }
  }
}

.tricks__text__triangle {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: .6rem;
    left: -2rem;
    background: url(../assets/svg/trickTriangle.svg);
    background-repeat: no-repeat;
    width: 9.2rem;
    height: 1.9rem;
  }
}

.newsletter {
  padding: 4rem;
  background-color: var(--red);
  border-radius: 1rem 0 0 1rem;
  width: 50vw;

  &__title {
    width: 40rem;
    margin-bottom: 4rem;
    font-size: 3.5rem;
    font-family: jaapokki;
    color: white;
  }
}

.newsletter__form__name--animation {
  animation: input-wave .4s linear infinite;
}

input[type=text], input[type=email] {
  display: block;
  color: white;
  font-family: oxygen;
  font-size: 1.8rem;
  letter-spacing: .05em;
  width: 30rem;
  background: none;
  border: none;
  background-image: url(../assets/img/triangle.png);
  background-repeat: repeat-x;
  background-position: 0 bottom;
  padding: 0 0 .5rem;
}

input[type=text]::placeholder, input[type=email]::placeholder {
  color: white;
}

input[type=submit] {
  height: 5rem;
  width: 24rem;
  color: white;
  font-family: oxygen;
  font-size: 2rem;
  background: none;
  text-align: left;
  border: none;
  cursor: pointer;
  background-image: url(../assets/svg/buttonWhite.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 4rem;
  padding: 0;
}

input:focus {
  outline: none;
  color: white;
}

@keyframes input-wave {

  0% { background-position: -0 bottom; }

  100% { background-position: 1.8rem bottom; }

}

.error {
  font-size: 1.3rem;
  padding-top: .5rem;
  height: 3rem;
  color: var(--yellow);
}

.partners {
  overflow: hidden;
  margin-top: 15rem;

  &__title {
    text-align: center;
    font-family: jaapokki;
    font-size: 3.5rem;
    color: var(--red);
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__logo {
      width: 30rem;
      margin: 0 2rem;
    }
  }
}

.footer {
  position: relative;
  background-color: var(--red);
  width: 100vw;
  height: 20rem;
  font-size: 1.8rem;
  font-family: oxygen;
  color: white;
  margin-top: 5rem;

  &__info {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: auto;
    padding-top: 5rem;
  }
}

.location__highlight {
  padding-bottom: 1rem;
  color: var(--yellow);
  font-weight: 700;
  letter-spacing: .1rem;
}

.footer__info__social {

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__fb {
    margin-top: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../assets/svg/fb.svg);
    background-position: right;
  }
}

.filters {
  width: 0;
  height: 0;
}
/*========= PROGRAMM.PHP ============*/

.flex {
  margin-top: 8rem;
  display: flex;
}

.filter {
  padding: 2rem;
  min-width: 25rem;
  max-width: 25rem;
  height: 40rem;
  background-color: var(--red);
  border-radius: 0 1rem 1rem 0;

  &__age {
    color: white;

    &__title {
      padding: 0 0 .5rem;
      font-family: oxygen;
      font-size: 2rem;
      color: white;
    }
  }

  &__period {
    color: white;

    &__title {
      padding: 2rem 0 .5rem;
      font-family: oxygen;
      font-size: 2rem;
      color: white;
    }
  }
}

.age {
  display: inline-block;
  padding: .4rem;
  text-align: center;
  text-decoration: none;
  font-family: oxygen;
  font-size: 1.5rem;
  color: white;
}

.age--selected {
  border-radius: 2rem;
  background-color: var(--yellow);
  color: var(--red);
}

.period {
  display: inline-block;
  padding: .4rem;
  text-align: center;
  text-decoration: none;
  font-family: oxygen;
  font-size: 1.5rem;
  color: white;
}

.period--selected {
  border-radius: 2rem;
  background-color: var(--yellow);
  color: var(--red);
}

.programm {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.programm__event {
  overflow: hidden;
  width: 25rem;
  height: 40rem;
  border-radius: 1rem;
  border: .3rem solid var(--red);
  margin: 0 4rem 6rem;
  padding: 1rem;

  &__picture {
    border-radius: .6rem;
    width: 22.4rem;
    height: 20rem;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    margin-top: 1rem;
    font-family: jaapokki;
    font-size: 2.5rem;
    letter-spacing: .1rem;
  }

  &__start {
    margin-top: 1.5rem;
    font-family: oxygen;
    font-size: 1.8rem;
  }

  &__age {
    margin-top: 1.5rem;
    font-family: oxygen;
    font-size: 1.8rem;
  }

  &__more {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 3.5rem;
    font-family: oxygen;
    font-size: 1.6rem;
    color: black;

    &::after {
      content: '';
      position: absolute;
      left: 10rem;
      top: -1rem;
      background: url(../assets/svg/button.svg);
      width: 4rem;
      height: 4rem;
    }
  }
}

.programm__event__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*========= DETAIL.PHP ============*/

.detail {

  &--container {
    width: 1100px;
    margin: auto;
    margin-top: 15rem;
    position: relative;
  }

  &__title {
    margin-left: 8rem;
    font-family: jaapokki;
    font-size: 6rem;
    color: var(--red);
    margin-bottom: 7rem;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: 6rem;
      background: url(../assets/svg/triangleNav.svg);
      background-repeat: repeat-x;
      width: 9.2rem;
      height: 1.9rem;
    }
  }

  &__picture {
    height: 45rem;
    object-fit: cover;
    object-position: center;
  }

  &__description {
    font-family: oxygen;
    column-count: 2;
    column-gap: 5rem;
    line-height: 3rem;
  }
}

.detail__descriptions {
  width: 80rem;
  margin: auto;
  margin-top: 5rem;
}

.detail__information {
  position: relative;
  margin: auto;
  margin-top: -5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95rem;
  height: 11rem;
  background-color: var(--bg-color);
  border-radius: 1rem;
  box-shadow: 5px 7px 9px 0 rgba(0, 0, 0, .14);
}

.detail__information__age {

  &__number {
    padding: .8rem 0;
    font-family: oxygen;
    font-size: 1.5rem;
  }

  &__icon {
    position: relative;
    font-family: jaapokki;
    text-transform: uppercase;
    color: var(--red);
    font-size: 1.5rem;
    letter-spacing: .2rem;

    &::before {
      content: '';
      width: 3.5rem;
      height: 3.5rem;
      background: url(../assets/svg/ageIcon.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: -4rem;
      top: -1.7rem;
    }
  }
}

.detail__information__location {

  &__loc {
    padding: .8rem 0;
    font-family: oxygen;
    font-size: 1.5rem;
  }

  &__icon {
    position: relative;
    font-family: jaapokki;
    text-transform: uppercase;
    color: var(--red);
    font-size: 1.5rem;
    letter-spacing: .2rem;

    &::before {
      content: '';
      width: 3.5rem;
      height: 3.5rem;
      background: url(../assets/svg/placeIcon.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: -4rem;
      top: -1.5rem;
    }
  }
}

.detail__information__date {

  &__hour {
    padding: .8rem 0;
    font-family: oxygen;
    font-size: 1.5rem;
  }

  &__icon {
    position: relative;
    font-family: jaapokki;
    text-transform: uppercase;
    color: var(--red);
    font-size: 1.5rem;
    letter-spacing: .2rem;

    &::before {
      content: '';
      width: 3.5rem;
      height: 3.5rem;
      background: url(../assets/svg/clockIcon.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: -4rem;
      top: -1.3rem;
    }
  }
}

.detail__information__tickets {
  cursor: pointer;
  position: relative;
  width: 15rem;
  height: 4rem;
  line-height: 4.5rem;
  padding-left: 1rem;
  background-color: var(--red);
  color: white;
  font-family: jaapokki;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 1rem;

  &::before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    background: url(../assets/svg/buttonWhite.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 11.5rem;
    top: .7rem;
  }
}

.detail__social {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-top: 3rem;
  background-color: var(--blue);
  width: 18rem;
  height: 5rem;
  color: white;
  font-family: jaapokki;
  font-size: 1.6rem;
  border-radius: 1rem;
  padding-right: 1rem;
  transition: background-color .2s;

  &::before {
    content: '';
    width: 2rem;
    height: 2rem;
    background: url(../assets/svg/fbDetail.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 1rem;
    top: 1.3rem;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--red);
  }
}

.button {
  font-family: jaapokki;
  font-size: 2rem;
  color: white;
  line-height: 8rem;
  text-decoration: none;
  text-align: center;
  background-color: var(--yellow);
  width: 7rem;
  height: 8rem;

  &--back {
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    position: fixed;
    left: 2rem;
    top: calc(50% - 4rem);
  }

  &--next {
    clip-path: polygon(100% 50%, 0 100%, 0 0);
    position: fixed;
    right: 2rem;
    top: calc(50% - 4rem);
  }
}

.smaakmakers {
  overflow: hidden;
  margin-top: 15rem;
}

.smaakmakers__title {
  font-size: 5rem;
  font-family: jaapokki;
  text-align: center;
  text-transform: uppercase;

  &__highlight {
    color: var(--blue);
    font-size: 6rem;
  }
}

.smaakmakers__flex {
  display: flex;
  justify-content: space-between;
}

.smaakmakers__programm {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: jaapokki;
  font-size: 2rem;
  color: white;
  border-top: 1rem solid white;
  border-bottom: 1rem solid white;
  background-color: var(--red);
  text-transform: uppercase;
  width: 33vw;
}

.smaakmakers__eventbefore {
  border: 1rem solid white;

  &__picture {
    width: 33vw;
    height: 15rem;
    object-fit: cover;
    object-position: center;
  }
}

.smaakmakers__eventafter {
  border: 1rem solid white;

  &__picture {
    width: 33vw;
    height: 15rem;
    object-fit: cover;
    object-position: center;
  }
}

.squiggly {
  position: absolute;
  top: 26rem;
  left: 100rem;
  animation: squiggly-anim .34s linear infinite;
  filter: url(`#squiggly-0`);
  display: inline-block;
  vertical-align: middle;
  outline: none;
  text-align: center;
  line-height: 1;
}

.squiggly2 {
  position: absolute;
  width: 100%;
  max-height: 80rem;
  object-fit: cover;
  animation: squiggly-anim .34s linear infinite;
  filter: url(`#squiggly-0`);
  display: inline-block;
  vertical-align: middle;
  outline: none;
  text-align: center;
  line-height: 1;
}

@keyframes squiggly-anim {

  0% { filter: url(#squiggly-0); }

  25% { filter: url(#squiggly-1); }

  50% { filter: url(#squiggly-2); }

  75% { filter: url(#squiggly-3); }

  100% { filter: url(#squiggly-4); }
}

/*________MEDIA QUERIES__________*/

@media only screen and (width <= 1200px) {

  .theater__tag {
    left: 0;

    &__tagline {
      top: 21.5rem;
      left: 20.5rem;
      font-size: 2.2rem;
    }

    &__triangle {
      left: 61rem;
    }

    &__triangle2 {
      top: 12.5rem;
      width: 30rem;
    }

    &__title {
      top: 21rem;
      font-size: 4rem;

      &__highlight {
        font-size: 8rem;
      }
    }
  }
}

@media only screen and (width <= 1100px) {

  /*_______________DETAIL.PHP_______________*/

  .detail--container {
    width: 90vw;
  }

  .detail__title {
    font-size: 5vw;
  }

  .button {
    display: none;
  }

  .detail__information {
    width: 85vw;
  }

  .detail__descriptions {
    width: 70vw;
  }

}

@media only screen and (width <= 970px) {

  .theater__picture {
    min-height: 75rem;
  }

  .theater__tag {
    left: -10rem;
    top: -5rem;
  }

  .spekken {
    margin-top: -10rem;
    width: 100vw;

    &__info {
      width: 90vw;
      padding: 8rem 0;

      &__about {
        width: 50vw;
      }
    }
  }

  .explore {
    width: 90vw;

    &__more {
      margin: 3rem 0 0 2rem;
    }

    &__events {
      flex-direction: column;
    }
  }

  .event {
    width: 100%;
  }

  .event:last-child {
    margin-top: 3rem;
  }

  .creative {
    width: 90vw;
    margin-top: 3rem;

    &__picture {
      width: 50vw;
    }

    &__info {
      margin-top: 10rem;
    }
  }

  .newscontainer {
    flex-direction: column;
  }

  .tricks {
    width: 90vw;
    margin: 0 auto;
    padding: 0;
  }

  .blogs {
    width: 90vw;
    margin: 5rem auto;
    padding: 0;
  }

  .newsletter {
    width: 95vw;
    align-self: flex-end;

    &__title {
      width: auto;
    }
  }

  .footer__info {
    width: 90vw;
  }

  .partners {
    margin-top: 8rem;
  }

  .partners__list__logo {
    width: 30vw;
  }

  /*_______PROGRAMM_________*/

  .flex {
    flex-direction: column;
  }

  .filter {
    min-width: 100vw;
    border-radius: unset;
    height: 17rem;
    margin-bottom: 6rem;
  }

  /*_______DETAIL.PHP_________*/

  .detail__descriptions {
    width: 90vw;
  }

  .detail__information {
    height: 35rem;
    width: 90vw;
    flex-direction: column;
    align-items: flex-start;

    &__date {
      margin-top: 2rem;
      margin-left: 5rem;
      width: 20rem;
    }

    &__location {
      margin-left: 5rem;
      width: 20rem;
    }

    &__age {
      margin-left: 5rem;
      width: 20rem;
    }

    &__tickets {
      margin-left: 1rem;
    }
  }

  .smaakmakers__flex {
    flex-direction: column;
  }

  .smaakmakers__eventbefore__picture {
    width: 100vw;
    /*border: .7rem solid white;*/
  }

  .smaakmakers__programm {
    width: 100vw;
    height: 15rem;
    border: none;
  }

  .smaakmakers__eventafter__picture {
    width: 100vw;
    /*border: .7rem solid white;*/
  }
}

@media only screen and (width <= 850px) {

  .theater__picture {
    min-height: 55rem;
  }

  .theater__tag {
    left: -10rem;
    top: -14rem;

    &__triangle {
      left: 51rem;
      top: 20rem;
      width: 7rem;
    }

    &__triangle2 {
      left: 14rem;
      top: 16rem;
      width: 20rem;
      height: 20rem;
    }

    &__title {
      font-size: 3rem;

      &__highlight {
        font-size: 7rem;
      }
    }

    &__tagline {
      font-size: 1.9rem;
    }
  }

  .spekken {
    margin-top: -30rem;
  }

  .nav__list__link {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media only screen and (width <= 600px) {

  .theater__picture {
    display: none;
  }

  .theater__tag__tagline {
    top: 37.5rem;
  }

  .theater__tag__title {
    top: 25rem;
    font-size: 2.8rem;
  }

  .theater__tag__triangle {
    top: 35rem;
    left: 44rem;
  }

  .theater__tag__triangle2 {
    top: 21.5rem;
  }

  .spekken {
    width: 100vw;

    &__info {

      &__title {
        font-size: 2.8rem;
      }

      &__about {
        width: 90vw;
      }
    }
  }

  .explore__triangles {
    right: -6rem;
    width: 14rem;
  }

  .creative {
    align-items: flex-start;
    flex-direction: column;

    &__picture {
      width: 60vw;
    }

    &__info {
      margin-top: 1rem;
    }
  }

  .newscontainer {
    margin-top: 5rem;
  }

  .newsletter {
    width: 100vw;
    border-radius: unset;
    padding: 2rem;

    &__title {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  .partners__list__logo {
    width: 40vw;
  }

  /*_______DETAIL.PHP_________*/

  .detail--container {
    width: 85vw;
  }

  .detail__title {
    margin-left: 0;
    font-size: 3rem;
  }

  .detail__information {
    width: 85vw;
  }

  .detail__descriptions {
    width: 85vw;
  }

  .detail__description {
    column-count: 1;
    font-family: oxygen;
  }

  .smaakmakers__title {
    font-size: 4rem;

    &__highlight {
      font-size: 5rem;
    }
  }
}

@media only screen and (width <= 450px) {

  .theater__tag__title {
    font-size: 6vw;
  }

  .spekken__info__title {
    font-size: 2.5rem;
  }

  .spekken__info__about {
    line-height: 2.7rem;
    font-size: 1.7rem;
  }

  .explore__triangles {
    display: none;
  }

  .explore__title {
    font-size: 3.3rem;
  }

  .explore__more {

    &__highlight {
      font-size: 4rem;
    }
  }

  .event {
    overflow: hidden;
    flex-direction: column;
    padding: 0;
    height: auto;

    &__picture {
      width: 100%;
      border-radius: unset;
    }
  }

  .event__info {
    padding-left: 1.5rem;

    &__title {
      margin-top: 1rem;
    }

    &__more {
      display: inline-block;
      margin: 0 0 2rem;
      height: 3rem;
      line-height: 3rem;
    }
  }

  .detail__picture {
    height: 32rem;
  }

  .smaakmakers__title {
    font-size: 2.5rem;

    &__highlight {
      font-size: 3rem;
    }
  }
}

@media only screen and (width <= 400px) {

  .theater__tag {
    top: -12rem;
  }

  .theater__tag__title {
    font-size: 5vw;
    top: 21rem;
  }

  .theater__tag__tagline {
    top: 33rem;
  }

  .theater__tag__triangle {
    top: 33rem;
    left: 30rem;
  }

  .theater__tag__triangle2 {
    top: 18rem;
    width: 19rem;
  }

  .creative__picture {
    width: 90vw;
  }

  .newsletter {
    overflow: hidden;

    &__title {
      font-size: 2.2rem;
    }
  }

  input[type=text], input[type=email] {
    padding: 0;
    width: auto;
    margin: 0;
    letter-spacing: 0;
  }
}
